#taskDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 20px;
}
tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hide{
    display: none;
}
.btn-danger{
margin-left: 10px;
}